@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    color: white;
    background-color: #030712;
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6d5efc #151c32;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151c32;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #8b5cf6,
    #3b82f6
  );
  border-radius: 999px;
  border: 2px solid #151c32;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #a855f7,
    #2563eb
  );
}

::-webkit-scrollbar-corner {
  background: #151c32;
}